<h1>So far... <%= User.count %></h1> 
<ul>
  <% @users.each do |u| %>
  <li><%= u.name %> &emsp; 
    <%= link_to "delete", user_path(u), method: :delete, remote: true, data: { confirm: 'Are you sure?' }, class: "destroy_user"%>
  </li>
  <% end %>
</ul>
